Instagram_Twitter_Social_Media/Blog post shared to social media.json
{
  "name": "Blog post shared to social media",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        64
      ],
      "id": "f15e7ec2-775f-4e6b-a455-88ae68553636",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://getposta.app/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        16
      ],
      "id": "82974bd0-595d-405a-926d-6ee4ad07def8",
      "name": "RSS Read",
      "notes": "Add the link to the RSS feed"
    },
    {
      "parameters": {
        "content": "Add the link to the RSS feed, in this example we use the blog feed from getposta.app (https://getposta.app/feed.xml)",
        "height": 112,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -112
      ],
      "id": "1456cb3d-6560-46f2-985a-07d67bd217c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "socialAccountIds": "35",
        "caption": "={{ $json.content }}",
        "additionalFields": {
          "hashtags": "={{ $json.categories[0] }}{{ $json.categories[2] }}",
          "mediaIds": "={{ $('Upload media').item.json.media.id }}"
        },
        "platformConfigurations": {
          "linkedin": {
            "documentTitle": "={{ $json.title }}"
          }
        }
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        1312,
        -16
      ],
      "id": "a95327e0-ed2b-4154-bf73-e9ec55fb8af3",
      "name": "Create a post",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "resource": "socialAccount"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        544,
        464
      ],
      "id": "969f72c4-be11-45c0-a9a5-3e37f036bff9",
      "name": "Get many social accounts",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "content": "You need to tell the workflow where to post - call this to get a list of connected social accounts. You need to take the id value and feed into the next step. IDs are preserved in Posta until you delete the connected account. To sign-up and connect social accounts, visit https://www.getposta.app (14 days free, no credit card required)",
        "height": 240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        640
      ],
      "id": "30f5f96f-35c5-47b8-94db-a104d4b63d78",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "You need a token to use the Posta functions. Get one at https://www.getposta.app (14 days free, no credit card required)",
        "height": 128,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -128
      ],
      "id": "454af41e-776b-4fe3-ad36-8f1a04f8ce1a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Blog post → social media\n\n**Who it's for:** anyone with a blog who wants every new post announced across their socials automatically.\n**What it does:** reads your blog RSS feed and schedules a social post (with the article image) to your connected accounts via Posta.\n\n**How it works:**\n1. Read the blog RSS feed.\n2. Get your connected social accounts.\n3. Download the article image and upload it to Posta (auto-scaled per platform).\n4. Combine image + text, create the post, and schedule it.\n\n**Setup:** add your Posta API token credential, set your RSS feed URL, and pick the account IDs to post to. Sign up at https://www.getposta.app (14 days free, no credit card).",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -368
      ],
      "id": "43e47287-f693-464a-861d-b227e81872ec",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "In the create post you need to set at least one social account id (from \"get many social accounts\"), caption and optionally tags. For each supported social media account type, you can also set platform specific attributes like visibility etc. You can also add media ids to upload images and videos. Images and videos are scaled by Posta for each platform (9:16 for TikTok for example). Posta uses facial recognition to try to crop media if faces are present. ",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -352
      ],
      "id": "feb61689-0b63-4728-8646-5f7635d2b471",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "media"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        608,
        -160
      ],
      "id": "19be590a-a990-4217-be2f-363b87b93702",
      "name": "Upload media",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.enclosure.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -160
      ],
      "id": "3dae8df0-04bb-4da6-b3d3-d0381db68ba2",
      "name": "Download article image"
    },
    {
      "parameters": {
        "content": "Add the URL for the image. Then options -> response -> then \"response format -> file\" and put the output in field \"data\". This loads the image into the \"data\" field for further processing. "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -336
      ],
      "id": "5da0686e-7763-46a8-9b90-667b31d84b6c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "This upload the contents of the \"data\" field from the precious node to the Posta platform and image processing starts (scaling for the different platforms). This also works for videos."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -336
      ],
      "id": "3181fdf6-ac51-4492-a804-4c9db005dcac",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        -16
      ],
      "id": "c458d1d9-6d69-44fa-b2b4-48153513cc9f",
      "name": "Combine image + article text"
    },
    {
      "parameters": {
        "content": "We merge the outputs from upload media (delivers the media id) and the RSS Read (delivers the text). Mode \"combine\" and combine by \"position\"."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -224
      ],
      "id": "10dfa4ad-2010-4067-a5a9-785b9f49bf44",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "The post is created by default as \"draft\" in the Posta backend - from this point you can publish it in the next step, or schedule it for later."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        128
      ],
      "id": "b5912958-60e5-4e1c-a6e9-a73621692cb6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "schedule",
        "postId": "={{ $json.id }}",
        "scheduledAt": "2026-06-30T00:00:00"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        1696,
        -16
      ],
      "id": "af95f8ef-7688-40dd-acaa-8559f1b73978",
      "name": "Schedule a post",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "content": "In this example we schedule the post for June 30 2026."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -176
      ],
      "id": "e70a3f3d-d4c2-46ae-8919-0e2ebc66b53c",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many social accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Download article image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine image + article text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download article image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Combine image + article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Schedule a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine image + article text": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "135fcc44-1c2a-4684-a98d-2bdfaa0dd460",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "u2Xp2NaAQa5wkE9H",
  "tags": [
    {
      "updatedAt": "2026-06-02T08:57:53.950Z",
      "createdAt": "2026-06-02T08:57:53.950Z",
      "id": "8rcWTt5CS63KQzEw",
      "name": "socialmedia"
    },
    {
      "updatedAt": "2026-06-02T09:01:25.831Z",
      "createdAt": "2026-06-02T09:01:25.831Z",
      "id": "8xBogo6fq3RQfLdT",
      "name": "autopost"
    },
    {
      "updatedAt": "2026-06-02T08:57:45.531Z",
      "createdAt": "2026-06-02T08:57:45.531Z",
      "id": "E2V7Vb6mVjkhPHEs",
      "name": "blog"
    },
    {
      "updatedAt": "2026-06-02T09:01:40.639Z",
      "createdAt": "2026-06-02T09:01:40.639Z",
      "id": "ESvKanJ6OwKaH6u4",
      "name": "posta"
    }
  ]
}
