Instagram_Twitter_Social_Media/E-commerce product launch campaign.json
{
  "name": "E-commerce product launch campaign",
  "nodes": [
    {
      "parameters": {
        "content": "## 5-day product launch campaign\n\n**Who it's for:** e-commerce teams launching a product across every channel.\n**What it does:** turns one product into a 5-day, multi-platform campaign with per-platform captions, scheduled via Posta.\n\n**How it works:**\n1. Fetch the product and its image.\n2. Get active accounts; keep one post per platform type.\n3. DeepSeek writes captions + tags per platform.\n4. Expand across 5 days and schedule a post for every account.\n\n**Setup:** add your Posta and DeepSeek (or any LLM) credentials. Sign up at https://www.getposta.app (14 days free, no credit card).",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        -512
      ],
      "id": "4b7e66ec-9823-4a8c-99be-45c4a9f00474",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "You need a token to use the Posta functions. Get one at https://www.getposta.app (14 days free, no credit card required)\n\nYou also need an API key for an LLM, in this example we use DeepSeek.",
        "height": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        -256
      ],
      "id": "6a4cf8ec-f7a3-461c-9b5b-4714cdb3357f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -224
      ],
      "id": "71e9da98-d459-41ff-9796-09e645ad6de8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        -224
      ],
      "id": "95935938-a652-4bff-b5ec-5ef6801aa73c",
      "name": "Fetch product"
    },
    {
      "parameters": {
        "content": "Start by polling the product (or use a webhook to let the system tell you what is new)",
        "height": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -384
      ],
      "id": "946cd4d8-312f-40c7-9b7f-d6debee698f4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write ONE {{ $json.platform }} caption for day {{ $json.day }} of a 5-day campaign\n  for \"{{ $json.title }}\" ({{ $json.description }}, ${{ $json.price }}).\n  End with 3–5 relevant hashtags. Return only the caption — no preamble.",
        "messages": {
          "messageValues": [
            {
              "message": "You are the best social media marketing expert in the world."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1152,
        -208
      ],
      "id": "dce15ba8-975c-46f6-ac1c-2017bc9b480a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek-v4-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1152,
        48
      ],
      "id": "044989a2-8cf9-4865-a50a-51b2c58f72e8",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "resource": "socialAccount"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        -352,
        80
      ],
      "id": "23da3937-9a5c-40d3-b871-82fbfd291199",
      "name": "Get many social accounts",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "content": "Get all connected social accounts connected in the Posta app.",
        "height": 304,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "963dfd8b-f036-46ba-8959-9b6b4ef7048c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "965b8dcb-cbbf-4a09-be7d-91190b09681e",
              "leftValue": "={{ $json.isActive }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "0650294d-1302-4d4b-97ed-14826faddb9a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -64,
        80
      ],
      "id": "886cbb0c-d24a-4344-a2d7-e9652ba78d56",
      "name": "Keep active accounts"
    },
    {
      "parameters": {
        "content": "We select all active social accounts",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "16eb4ca4-e0b6-4016-9563-c5db72b11a4a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "platform",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        272,
        160
      ],
      "id": "40308f8a-15ff-4eaf-a450-2f8db59ea539",
      "name": "One post per platform"
    },
    {
      "parameters": {
        "content": "Remove duplicates from platform. We want to create a single post for each platform type (one for TikTok, once for LinkedIn etc), not one post for each account. ",
        "height": 304,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "9ffed604-3103-42be-8523-f723ab408ad7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -208
      ],
      "id": "a12e72fe-1ba7-4895-b419-097d34ca44ed",
      "name": "Combine product + platforms"
    },
    {
      "parameters": {
        "content": "Now we have the product description for each platform type, ready to send to the LLM.",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -336
      ],
      "id": "b7c416ea-3447-4110-b08b-801598504008",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "We want to create posts for each day over the next 5 days",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        -336
      ],
      "id": "70d7fab0-1cd6-4961-89e5-c36cb322819e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Expand to days').all();\n  return $input.all().map((item, i) => {\n    const day = ctx[i].json.day;\n    return {\n      json: {\n        platform: ctx[i].json.platform,\n        day,\n        caption: item.json.text,\n        mediaId:  ctx[i].json.mediaId,\n        scheduledAt: $now\n          .plus({ days: day })                                  // day 1 = tomorrow, day 5 = +5\n          .set({ hour: 9, minute: 0, second: 0, millisecond: 0 }) // post at 09:00\n          .toUTC()\n          .toISO(),                                             // strict UTC ISO the API wants\n      },\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        -208
      ],
      "id": "70a87504-d83b-4a22-b4d3-ada5dcc09b30",
      "name": "Parse LLM captions"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().flatMap(i =>\n    [1,2,3,4,5].map(day => ({ json: { ...i.json, day } }))\n  );"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -208
      ],
      "id": "b12bdda8-009d-4a53-bfca-d213eb8153b3",
      "name": "Expand to days"
    },
    {
      "parameters": {
        "content": "Add the platforms, the schedule data",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -320
      ],
      "id": "f3cd15f1-e463-49ff-9ae8-fca7c2746d76",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "platform",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        16
      ],
      "id": "1447b440-295f-4586-b626-04641c2979bb",
      "name": "Merge captions per account"
    },
    {
      "parameters": {
        "content": "Merge on platform, we create the same post for each instance of a platform, so if you have multiple TikTok (for example) accounts, each will get a post. ",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -96
      ],
      "id": "d6e2b680-014a-4953-b839-070c207d9d25",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "socialAccountIds": "= {{ $json.id }}",
        "caption": "={{ $json.caption }}",
        "additionalFields": {
          "mediaIds": "= {{ $json.mediaId }}",
          "isDraft": false
        },
        "platformConfigurations": {}
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        2112,
        16
      ],
      "id": "60fbaf61-4f56-4607-b851-a0a1f10ef977",
      "name": "Create a post",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "content": "Create posts with account ids, captions, schedules. Draft is OFF and they will be created by the Posta app for future posting.",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -96
      ],
      "id": "8d3cacbf-fb3d-49ed-81b1-032b7986b522",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "url": "={{ $json.image }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        -224
      ],
      "id": "d1f45c2b-c557-48da-b10a-708491d81c70",
      "name": "Download product image"
    },
    {
      "parameters": {
        "resource": "media"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        80,
        -224
      ],
      "id": "b8d6ab49-2385-48fb-b7a3-b69bb6a95797",
      "name": "Upload media",
      "credentials": {
        "postaApi": {
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5a46e5b-3a92-42b8-bf14-d473fee0281c",
              "name": "mediaId",
              "value": "={{ $json.media.id }}",
              "type": "string"
            },
            {
              "id": "7addd58f-f2da-4dbb-8865-cfaa061de77d",
              "name": "title",
              "value": "={{ $('Fetch product').first().json.title }}",
              "type": "string"
            },
            {
              "id": "ddbf23e7-facd-4b29-8406-d9c39d4d8f20",
              "name": "description",
              "value": "={{ $('Fetch product').first().json.description }}",
              "type": "string"
            },
            {
              "id": "ad5022e7-ddf4-48c6-9aa0-6f80b9cc5f31",
              "name": "price",
              "value": "={{ $('Fetch product').first().json.price }}",
              "type": "string"
            },
            {
              "id": "775e372b-c120-4ab2-ac72-c23527ca7dc2",
              "name": "image",
              "value": "={{ $('Fetch product').first().json.image }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -224
      ],
      "id": "205d4483-bb45-4bd1-bcf7-525fd22f56eb",
      "name": "Attach product media id"
    },
    {
      "parameters": {
        "content": "Get the image for the product",
        "height": 352,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -384
      ],
      "id": "f1831e45-404f-4ec2-9c57-ec0209745703",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "Upload the media to the Posta app, the platform will scale the image to fit to all social platforms. It uses facial recognition to try to crop the image if faces are present.",
        "height": 352,
        "width": 182
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -384
      ],
      "id": "4cdb4b84-7e2d-496a-bcbb-d9782097383f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "We add the data from the first request since the upload media only returns the media id from the Posta platform.",
        "height": 352,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -384
      ],
      "id": "b3d6bfa5-f655-4a59-a713-72cf3ee0e132",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "Post are now created, either in \"draft\" or scheduled depending on the parameters in the last node. Now you can continue by publishing or editing the posts. "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2384,
        -16
      ],
      "id": "dd52393a-153f-4d1f-9024-c2d0a72e5120",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch product",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many social accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch product": {
      "main": [
        [
          {
            "node": "Download product image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many social accounts": {
      "main": [
        [
          {
            "node": "Keep active accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep active accounts": {
      "main": [
        [
          {
            "node": "One post per platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One post per platform": {
      "main": [
        [
          {
            "node": "Combine product + platforms",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge captions per account",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine product + platforms": {
      "main": [
        [
          {
            "node": "Expand to days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse LLM captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand to days": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM captions": {
      "main": [
        [
          {
            "node": "Merge captions per account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge captions per account": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download product image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Attach product media id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach product media id": {
      "main": [
        [
          {
            "node": "Combine product + platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4ddba110-25ff-4606-8e61-cf21aea05740",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ZIzfh6sIe4ToAqeC",
  "tags": [
    {
      "updatedAt": "2026-06-02T09:01:25.831Z",
      "createdAt": "2026-06-02T09:01:25.831Z",
      "id": "8xBogo6fq3RQfLdT",
      "name": "autopost"
    },
    {
      "updatedAt": "2026-06-02T09:01:40.639Z",
      "createdAt": "2026-06-02T09:01:40.639Z",
      "id": "ESvKanJ6OwKaH6u4",
      "name": "posta"
    },
    {
      "updatedAt": "2026-06-03T12:31:06.730Z",
      "createdAt": "2026-06-03T12:31:06.730Z",
      "id": "Yj8jMnpGLDXpmAr4",
      "name": "e-commerce"
    },
    {
      "updatedAt": "2026-06-03T12:31:12.744Z",
      "createdAt": "2026-06-03T12:31:12.744Z",
      "id": "ZG1V0O463Dgrj7Gj",
      "name": "product"
    }
  ]
}
